  /* CSS reset */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, p {
  margin: 0;
  padding: 0;
}
html, body {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img {
  border: 0;
}
address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
caption, th {
  text-align: left;
}
q:before, q:after {
  content: '';
}
abbr, acronym {
  border: 0;
}
a {
  text-decoration: none !important;
}
@font-face {
  font-family: 'Microsoft';
  src: url(../fonts/micross/micross.ttf);
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url(../fonts/roboto/Roboto-Bold.ttf);
}

/*CLEARFIX*/
:focus {
  outline: 0; }

:active {
  outline: none; }

body {
  line-height: 1;
  color: black;
  background: white;
      font-family:Arial; 
      overflow-x:none;}

table {
  position: relative;
  right: 8px;
  border-collapse: separate;
  border-spacing: 0;
  /* right: 50px; */ }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

.clearfix:before, .clearfix:after {
  content: "\0020";
  overflow: visible;
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }



.container-title {
  font-family: sans-serif;
  color: rgb(70, 70, 70);
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1em;
  text-align: center;
}
.content-title {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.125em;
  /*padding: 0 10px;*/
  float: left;
  text-transform: uppercase;
  color: rgb(0, 167, 121);
}
* {
  font-family: 'Arial', sans-serif;
}
input {
  font-size: 16px;
}

/*service classes*/

.text-up {
  text-transform: uppercase;
}
.float-r {
  float: right;
}
.float-l {
  float: left;
}
.float-none {
  float: none !important;
}
.clear-b {
  clear: both;
}
.margin-t-10 {
  margin-top: 10px;
}
.margin-t-20 {
  margin-top: 20px;
}
.margin-t-25 {
  margin-top: 25px
}
.margin-t-30 {
  margin-top: 30px;
}
.margin-t-40 {
  margin-top: 40px;
}
.margin-t-50 {
  margin-top: 50px;
}
.margin-t-60 {
  margin-top: 60px;
}
.margin-t-70 {
  margin-top: 70px;
}
.margin-tb-30 {
  margin-top: 30px;
  margin-bottom: 30px
}
.padding-t-60 {
  padding-top: 60px;
}
.padding-l-45 {
  padding-left: 45px;
}
.padding-r-45 {
  padding-right: 45px;
}
.padding-lr-120 {
  padding-left: 120px;
  padding-right: 120px;
}
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}

/*service classes*/


/*text color*/

.green-text {
  color: rgb(0, 167, 121);
}
.orange-text {
  color: rgb(249, 101, 17);
}
.green-bg {
  background-color: rgb(0, 167, 121);
}
.orange-bg {
  background-color: rgb(249, 101, 17);
}
.light-gray-bg {
  background-color: rgb(245, 245, 245)!important;
}

/*text color*/

.header-wrap {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 10;
  box-shadow: 0px 2px 0px transparent;
  transition:0.3s all;
}
.main-container {
  width: 980px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.header {
  height: 50px;
  overflow: visible;
}
.logo img {
  margin-top: 2px;
  margin-right: 5px;
  margin-left: 0px;
  float: left;
  position: relative;
  z-index: 3;
  padding: 13px;
}
.logo span {
  float: left;
  font-family: sans-serif;
  font-size: 26px;
  line-height: 1em;
  font-weight: normal;
  margin-top: 18px;
}
.menu li {
  display: inline-block;
}
.menu li a {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 12px;
  color: rgb(58, 58, 58);
  margin-left: 25px;
  padding: 0 3px;
  line-height: 47px;
  display: block;
  box-sizing: border-box;
  border-bottom: 3px solid rgba(127, 186, 0, 0);
  webkit-transition: 0.15s ease-in-out 0.2s;
  -moz-transition: 0.1s ease-in-out 0.2s;
  -o-transition: 0.1s ease-in-out 0.2s;
  transition: 0.15s ease-in-out 0.2s;
}
.menu li a:hover {
  color: rgb(0, 167, 121);
  border-bottom: 3px solid  rgb(0, 167, 121);
}
.poster-wrap {
     /*background-color: ;*/
  /*background-image: url(../img/poster.png),linear-gradient(to right,rgb(20, 20, 29) 50%, rgb(162, 135, 124)50%);*/
  background: whitesmoke;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  min-width: 980px;
  height: 600px;
}
.poster-content-1 {
  text-transform: uppercase;
  font-family:  sans-serif;
  font-size: 12px;
  line-height: 20px;
  /*color: rgba(255, 255, 255, 0.8);*/
  color: #00a779;
  margin-left: 5px;
  float: left;
}
.poster-content-1 span{
font-size: 16px;
}
.poster-contact-box {
  width: auto;
  height: auto;
  float: right;
  background-image: url(../img/poster-contact-ico-g.png);
  background-repeat: no-repeat;
  background-position: 0 center;
  padding: 10px 0px 10px 30px;
}
.poster-contact-box span, .poster-content-2 {
  font-family: sans-serif;
  font-size: 16px;
  /*color: rgba(255, 255, 255, 0.8);*/
  color: #ff5c00;
}
.poster-contact-box span:first-child{
  position: relative;
  bottom: 0px;
}
.poster-contact-box span:last-child{
  position: relative;
  top: 0px;
}
.poster-content-2 {
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-top: 150px;
}
.p-header {
  font-family:'Arial', sans-serif;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(0, 167, 121);
  padding-top: 35px;
}
.p-header span {
  font-size: 34px;
}
.sale{
  margin-right: 15px;
}
.poster-content-3 {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.poster-content-3 span {
  color: rgb(249, 101, 17);
}
.poster-content-4 {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.content-wrap {
  background-color: rgb(255, 255, 255);
  padding: 60px 0;
  width: 100%;
  min-width: 980px;
  height: auto;
}
.content-text {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.28571428571em;
  color: rgb(98, 98, 98);
}
.content-box {
  width: 42%;
  padding-left: 75px;
  position: relative;
  float: left;
}
.content-ico {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: rgb(249, 101, 17);
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  text-align: center;
  line-height: 55px;
}
.content-ico-img {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 0;
  left: 0;
}
.content-ico-1{
  background: url(../img/ic-1.png);
}
.content-ico-2{
  background: url(../img/ic-2.png);
}
.content-ico-3{
  background: url(../img/ic-3.png);
}
.content-ico-4{
  background: url(../img/ic-4.png);
}
.content-ico-5{
  background: url(../img/ic-5.png);
}
.content-ico-6{
  background: url(../img/ic-6.png);
}
.img {
  width: 100%;
  height: 380px;
}
.propose-wrapper {
  min-width: 980px;
  height: 140px;
  background-repeat: no-repeat;
  background-position: center center;
  /*padding-top: 30px;*/
  box-sizing: border-box;
}
.propose-green-style {
  background-color: rgb(245, 245, 245);
}
.delivery-box {
  width: auto;
  height: auto;
  padding-top: 40px;
}
.delivery-green-ico {
  background-image: url(../img/delivery-ico.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.delivery-box p {
  font-family: Arial, sans-serif;
  line-height: 1.5em;
  font-size: 15px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.9);
}
.delivery-box p span {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: 24px;
}
.propose-box, .percent-box {
  width: auto;
  height: auto;
  position: relative;
}
.propose-box{
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid #ff5c00;
  box-sizing:border-box;
  background-color: rgb(235,235,235);
  border-right: 0;
}
.propose-box:after, .propose-box:before {
  right: 0;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.propose-box:after {
  border-color: rgba(245, 245, 245, 0);
  border-right-color: #f5f5f5;
  border-width: 69px;
  margin-top: -69px;
}
.propose-box:before {
  border-color: rgba(246, 138, 50, 0);
  border-right-color: #f68a32;
  border-width: 71px;
  margin-top: -71px;
}
.propose-box-orange{
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid #00a779;
  box-sizing:border-box;
  background-color: rgb(235,235,235);
  border-right: 0;
}
.propose-box-orange:after, .propose-box-orange:before {
  right: 0;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.propose-box-orange:after {
  border-color: rgba(245, 245, 245, 0);
  border-right-color: #f5f5f5;
  border-width: 69px;
  margin-top: -69px;
}
.propose-box-orange:before {
  border-color: rgba(246, 138, 50, 0);
  border-right-color: #00a779;
  border-width: 71px;
  margin-top: -71px;
}

.p-propose {
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1.2em;
  color: rgb(249, 101, 17);
  text-align: center;
}
.propose-green-style .main-container,.propose-orange-style .main-container{
  overflow: visible;
}

.propose-sale{
  background: url(../img/promo.png)no-repeat center;
  position: absolute;
  left: -50px;
  top: -15px;
  height: 171px;
  width: 171px;
  text-align: center;
  line-height: 171px;
  color: white;
  font-family: 'Arial' sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
.propose-orange-style  .propose-sale{
  background: url(../img/promo-g.png)no-repeat center;

}
.p-propose span{
  text-transform: uppercase;
}
.sale{
  margin-right: 15px;
}

.percent-box p {
  color: rgb(249, 101, 17);
  font-family: Arial;
  font-size: 40px;
  position: relative;
  top: 13px;
  left: -10px;
}
.percent-box p span {
  font-size: 16px;
  position: relative;
  top: -20px;
  right: 15px;
  text-transform: uppercase;
}
.slider-container-1 {
  width: 100%;
  height:560px;
}
.propose-orange-style {
  background-color: rgb(245, 245, 245);
}
.propose-box-orange .p-header{
  font-size: 24px;
  color: #f96511;
  padding-top: 20px;
}
.propose-box-orange .p-propose{
  font-size: 20px;
  color: #00a779;
}

.propose-box-orange .p-propose span{
  font-size: 16px;
}
.gift-box {
  width: auto;
  height: auto;
  position: relative;
}
.gift-box p {
  color: rgb(0, 167, 121);
  font-family: Arial;
  font-size: 40px;
  position: relative;
  top: 20px;
  left: 60px;
}
.gift-box p span {
  font-size: 16px;
  position: relative;
  bottom: 0;
  right: 7px;
  text-transform: uppercase;
}
.delivery-orange-ico {
  background-image: url(../img/delivery-ico-orange.png);
  background-repeat: no-repeat;
  background-position: 89px 0;
}
.step-box {
  margin-top: 50px;
}
.step-text {
  margin-top: 25px;
  text-align: left;
  display: inline-block;
  width: 380px;
  float: right;
}
.button-box, .button-box-2 {
  height: auto;
  text-align: center;
}
.button-box {
  width: 400px;
  margin: 0 auto;
}
.button-box-2 {
  width: 250px;
  margin: 50px auto 0 auto;
}
.button {
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 167, 121);
  line-height: 2.25em;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  webkit-transition: 0.15s ease-in-out 0.2s;
  -moz-transition: 0.1s ease-in-out 0.2s;
  -o-transition: 0.1s ease-in-out 0.2s;
  transition: 0.15s ease-in-out 0.2s;
}
.button:hover {
  background-color: rgb(249, 101, 17);
}
.large-button {
  font-size: 20px;
}
.slider-box-2 {
  width: 100%;
  height: 265px;
}
.attract-text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.125em;
  float: left;
  color: rgb(249, 101, 17);
  text-transform: uppercase;
}
.align-box {
  float: left;
  margin: 40px;
}
.form-box {
  width: 350px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 30px;
}
.form-control, textarea {
  width: 100%;
  margin-bottom: 10px;
  background-color: rgb(245, 245, 245);
  font-size: 16px;
  line-height: 35px;
  padding-left: 15px;
  font-family: Arial, sans-serif;
  border: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: 0;

}
textarea.form-control{
    box-sizing: border-box;
    padding-right: 15px;
    line-height: 1.4;
    padding-top: 5px;
}
.form-control {
  height: 35px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: 0;
}
.form-control:invalid {
  -moz-box-shadow: none;
  -moz-border: none;
}
.form-control:-moz-submit-invalid {
  box-shadow: none;
}
.form-control:-moz-ui-invalid {
  box-shadow:none;
}

.form-control:focus, textarea:focus {
  box-shadow: none;
  border: none;
  outline: 0;
}
textarea {
  height: 140px!important;
  resize: none;
}
.form-button {
  font-size: 20px;
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
  webkit-transition: 0.15s ease-in-out 0.2s;
  -moz-transition: 0.1s ease-in-out 0.2s;
  -o-transition: 0.1s ease-in-out 0.2s;
  transition: 0.15s ease-in-out 0.2s;
}

/*input-color for safari, chrome*/

.form-control::-webkit-input-placeholder {
  color: rgb(98, 98, 98);
}

/*input-color for firefox*/

.form-control::-moz-placeholder {
  color: rgb(98, 98, 98);
}

/*input-disappear for safari, chrome*/

.form-control::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.form-control:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/*input-disappear for firefox*/

.form-control::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.form-control:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.contact-info {
  font-family: Arial, sans-serif;
  color: rgb(98, 98, 98);
  font-size: 16px;
  line-height: 1.5em;
  display: inline-block;
  padding-left: 36px;
  margin-top: 20px;
  background-repeat: no-repeat;
  position: relative;
}
.contact-info.phone-ico{
      /*right: 22px;*/
}
.phone-ico {
  background-image: url(../img/phone-ico.png);
}
.email-ico {
  background-image: url(../img/email-ico.png);
}
.adress-ico {
  background-image: url(../img/adress-ico.png);
  background-position-x:-1px;
}
.footer {
  background-color: rgb(46, 46, 46);
  padding: 20px 0;
}
.footer-link {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.7);
  float: left;
}
.footer-button {
  display: block;
  font-family: sans-serif;
  color: rgb(0, 167, 121);
  text-transform: uppercase;
  border: 1px solid rgb(0, 167, 121);
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  box-sizing: border-box;
  padding: 0 25px;
  float: right;
  webkit-transition: 0.15s ease-in-out 0.2s;
  -moz-transition: 0.1s ease-in-out 0.2s;
  -o-transition: 0.1s ease-in-out 0.2s;
  transition: 0.15s ease-in-out 0.2s;
}
.footer-button:hover {
  color: rgb(237, 130, 34);
  border-color: rgb(237, 130, 34);
}
.divider-vertical {
  border-right: 1px solid rgb(67, 67, 67);
}
.divider-horizontal {
  border-bottom: 1px solid rgb(67, 67, 67);
  padding-bottom: 20px;
}
.p-copyright {
  font-family: Arial.sans-serif;
  font-size: 14px;
  color: rgb(124, 124, 124);
  padding-top: 15px;
}
.p-copyright a {
  color: rgb(237, 237, 237);
}

/*****arrow-top*****/

.arrow-top {
  display: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid rgb(0, 167, 121);
  background-color: rgb(0, 167, 121);
  background-image: url(../img/arrow-top.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  bottom: 67px;
  right: 50px;
  box-sizing: border-box;
}
.arrow-top:hover {
  cursor: pointer;
  background-color: rgba(127, 186, 0, 0);
  background-image: url(../img/arrow-top-hover.png);
}

/*****arrow-top*****/


/******styles for Denis *******/
.tabs-contant {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 40px;
}
.tabs-contant li{
  display: inline-block;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-left: 50px;
  cursor: pointer;
}

.tabs-contant li:first-child{
  margin-left: 0;
}
.active-tabs{
  padding-bottom: 3px;
  color: #00a779;
  border-bottom:1px solid #00a779;
}
.slider-container-1#one-tabs{
}

/** slider-1 **/
#slider-1 .item{
  margin: 3px;
  text-align: center;
}
.slider-container-1#two-tabs{
  display: none;
}
.slider-block{
  margin-top: 20px;
  position: relative;
  border:1px solid #c4c4c4;
  height: 480px;
  width: 220px;
  display: inline-block;
}
.slider-img{
  border-bottom: 1px solid #c4c4c4;
  height: 185px;
  overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
.slider-img img{
  max-height: 85%;
  padding: 7% 0;
  max-width: 95%;
}
.slider-name{
    cursor: pointer;
  text-align: left;
  margin: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #c4c4c4;
  font-family: 'Roboto-Bold';
  font-size: 12px;
  color: #ff5c00;
  text-transform: uppercase;
  line-height: 1.7;
      height: 45px;
}
.slider-info{
  margin: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c4c4c4;
  font-size: 12px;
  cursor: pointer;
}
.slider-info p{
  text-align: left;
  margin-bottom: 7px;
}
.butt-a{
  color: #00a779;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.3px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.butt-a:after{
  content: '';
  position: absolute;
  left: 103%;
  top: 3.4px;
  height: 9px;
  width: 4px;
  background: url(../img/arrow-link.png);
  transition:0.3s all;
}
.butt-a:hover::after{
  left: 105%;
}
.old-price,.new-price{
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}
.old-price{
  position: relative;
}
.old-price:after{
  transform:rotate(25deg);
  content: '';
  height: 1.5px;
  width: 40px;
  position: absolute;
  background: #f89442;
  left: -2px;
  top: 7px;
}
.new-price{
  color: #ff5c00;
  font-size: 30px;
  font-weight: bold;
}
.slider-but{
  width: 90%;
  margin-top: 10px;
}
.slider-size{
  position: absolute;
  left: -15px;
  top: -15px;
  height: 45px;
  width: 45px;
  background: #ff5c00;
  border-radius: 50%;
}

.slider-size p{
  color: white;
  text-align: center;
  font-size: 14px;
  margin-left: 2px;
  font-weight: bold;
  line-height: 43px;
}
.slider-size p sup{
  font-size: 10px;
  position: relative;
  right: 3px;
}
.owl-prev{
  float: left;
  height: 30px;
  width: 12px;
  background: url(../img/arrow-left.png)no-repeat center;
}
.slider-container-1 .owl-prev,.slider-container-1 .owl-next{
  position: relative;
  top: 200px;
  display: block !important;
}
.slider-box-2 .owl-prev, .slider-box-2 .owl-next{
  position: relative;
  top: 100px;
}
.owl-prev:active{
  background: url(../img/arrow-left-h.png)no-repeat center;
}
.owl-buttons{
  position: absolute;
  top: 45%;
  width: 100%;
}
.owl-next{
  float: right;
  height: 30px;
  width: 12px;
  background: url(../img/arrow-right.png)no-repeat center;
}
.owl-next:active{
  background: url(../img/arrow-right-h.png)no-repeat center;
}
.owl-pagination{
  width: 100%;
  height: 25px;
  text-align: center;
  margin-top: 25px;
}
.owl-page{
  height: 7px;
  width: 7px;
  display: inline-block;
  margin-left: 10px;
  border-radius: 50%;
  border:1px solid #f7882c;
}
.owl-page:first-child{
margin-left: 0;
}
.owl-page.active{
  background: #f7882c;
}

/** slider-2 **/

#slider-2 .item{
  margin: 5px;
  text-align: center;
}
#slider-3 .item{
margin: 3px;
text-align: center;
}
.slider-comment{
  margin-top: 45px;
}
.slider-comment p{
  width: 700px;
  margin:0 auto;
  font-size: 16px;
  line-height: 1.2;
}
.slider-comment p:last-child{
  margin-top: 10px;
}
.comment-text{
  min-height: 50px;
}
.s-line{
  margin-top: 20px;
  height: 1px;
  width: 70%;
  margin-left: 15%;
  background: #f6b076;
  position: relative;

}
.s-line:after{
  content: '';
  position: absolute;
  height: 15px;
  width: 20px;
  left: 48.5%;
  top: 0px;
  background: url(../img/arrow-line.png) no-repeat top;
}
.slider-for-name{
  margin-top: 20px;
  font-size: 14px;
}
.align-box-text:first-child{
width: 80%;
margin: 0 auto;
}
.contact-map{
  width: 980px;
  margin: 10px auto;
  padding-top: 40px;
  position: relative;
  height: 400px;
  overflow: hidden;
  margin-top: 40px;
}
.contact-map iframe{
  width: 100%;
  position: absolute;
  bottom: 0;
}
.bottom-left{
  position: fixed;
  left: -180px;
  top: 300px;
  transform: rotate(-90deg);
  display: none;
  z-index: 1;
}
.bottom-left a{
  font-size: 16px;
  color: white;
  min-width: 180px;
  height: 60px;
  display: inline-block;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  transition:0.5s all;
  box-shadow: 0px 2px 3px #CFCFCF;
  position: relative;
}


.bottom-left a.bottom-one{
   background: #00a779;
}
.bottom-left a.bottom-two{
   background: #ff5c00;
   margin-left: 20px;
}

/** LIGHTBOX **/
.lightbox{
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.7);
  display: none;
}
.lightbox-display{
  position: absolute;
  height: 100%;
  width: 100%;

}
.lightbox-block{
  left: 0;
  top: 150px;
  width: 980px;
  height: 400px;
  background: white;
  position: absolute;
  z-index: 100;
}
.lightbox-exit{
  position: absolute;
  right: 5px;
  top: 5px;
      font-family: cursive;
      color: #00a779;
      cursor: pointer;
}
.light-foto{
  width: 460px;
  height: 320px;
  margin: 20px;
  border: 1px solid #c4c4c4;
  text-align: center;
  padding-top: 40px;
  overflow: hidden;
  display: inline-block;
}

.light-foto img{
  height: 85%;
}
.light-inform{
  width: 450px;
  display: inline-block;
  vertical-align: top;
}
.light-name{
  font-family: 'Roboto-Bold';
  font-size: 12px;
  color: #ff5c00;
  text-transform: uppercase;
  line-height: 1.5;
  margin-top: 20px;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 10px;
}
.light-info{
  max-height: 250px;
  overflow: auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #c4c4c4;
}
.light-info p{
  font-size: 12px;
  color: #262626;
  padding: 4px 0;
  line-height: 15px;
}

.light-info p b{
  color: black;
}
.light-info .c-green{
  color: #00a779;
}
.light-price{
  width: 200px;
  display: inline-block;
  text-align: center;
  padding-top: 25px;
}
.new-price span{
  font-size: 16px;
  font-weight: normal;
}
.light-but{
  position: relative;
  top: 10px;
  width:240px;
  text-align: center;
}
.info-for-inbox{
  display: none;
}
.step-box ul{
  position: relative;
  display: block;
}
span.contact-info.email-ico {
    position: relative;
    /*right: 22px;*/
}
span.contact-info.adress-ico {
    /*right: 22px;*/
}

.step-box ul li{
  display: block;
  width: 460px;
  margin: 0 auto
}
.step-box ul li span{
  clear: left;
  float: left;
  display: inline-block;
  height: 52px;
  width: 52px;
  background: #EFEFEF;
  color:#FF8309;
  border-radius: 50%;
  line-height: 52px;
  text-align: center;
  border:3.5px solid white;
  position: relative;
  z-index: 2;

margin-top: 2px;
  box-shadow: 2px 0 0 #EFEFEF,-2px 0 0 #EFEFEF,0 2px  0 #EFEFEF, 0 -2px 0 #EFEFEF;
  font-size: 28px;
}
.step-box-text{
    display: flex;
    justify-content: space-around;

}
.profile-photo.profile-photo-light{
  display: none;
}
.header-wrap.header-send{
    box-shadow: #c4c4c4 0px 1px 0px, #c4c4c4 0px 3px 2px;
}
.header-wrap.header-send .header:before{
    content: '';
    height: 66px;
    width: 69px;
    position: absolute;
    left: -5.9px;
    top: 3px;
    border-radius: 50%;
    border: 3px solid #c4c4c4;
    box-shadow: 0px 2px 2px #c4c4c4;
}
.header-wrap.header-send .header:after {
    content: '';
    height: 45px;
    width: 77px;
    position: absolute;
    left: -7px;
    top: 5px;
    background: white;
}
.send-page{
  background: #f5f5f5;
  height: 100%;
}
.send-message{
  padding-top: 150px;
  text-align: center;
  font-family: 'Arial';
  font-size: 14px;
  color: #626262;
  width: 460px;
  margin: 0 auto;
}
.sent-title{
  text-transform: uppercase;
}
.send-text{
  text-transform: none;
  margin-top: 15px;
}
.send-link{    
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 167, 121);
    line-height: 2.25em;
    text-transform: uppercase;
    display: block;
    width: 310px;
    cursor: pointer;
    webkit-transition: 0.15s ease-in-out 0.2s;
    -moz-transition: 0.1s ease-in-out 0.2s;
    -o-transition: 0.1s ease-in-out 0.2s;
    transition: 0.15s ease-in-out 0.2s;
    text-align: center;
    margin: 25px auto 0 auto;

}
.align-box.not-f{
  float: none;
  margin: 25px 0px 0px 75px;
}
.align-box-text.not-f{
  padding-top: 25px;
  padding-left:50px;
}
.video{
  width: 50%;
  text-align: center;
  float: left;
  padding-top: 50px;
  padding-bottom: 50px;
}
.owl-item{
  /*min-width: 320px;*/
}
.owl-controls{
  position: absolute;
  top: 0%;
  width: 100%;
  z-index: 40;
}
.menu-m{
  display: none;
  height: 15px;
  width: 15px;
  position: absolute;
  right: 25px;
  top: 20px;
  background:url(../img/menu-m.png) center no-repeat;
  cursor: pointer;
}
.menu-h{
  overflow: hidden;
  height: 0;
  display: none;
  box-shadow:  1px 2px gray;
  background: white;
  position: absolute;
  top: 50px;
  width: 100%;
  left: 0;
  text-align: center;
}
.menu-h li{
  padding: 10px 0;
}
.menu-h li a{
  color: #464646;
}
.poster-text{
  padding-top: 35px;
  width: 50%;
  float: left;
}
.poster-form{
  padding-top: 35px;
  width: 40%;
  float: right;
}
.poster-text img{
  max-width: 350px;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
}
.poster-text h2.container-title{
/*  font-family: sans-serif;
    font-size: 16px;
    line-height: 1.125em;
    padding: 0 10px;
    float: left;
    text-transform: uppercase;
    color: rgb(0, 167, 121);*/
    /*color: white;*/
    text-align: left;
    padding-left: 5px;
    font-size: 26px;
    font-size: 'sans-serif';
    margin: 0 auto;
    font-weight: normal;
    padding-bottom: 15px;
}
.poster-form .container-title{
  /*color: white;*/
}
.poster-form .form-control, textarea{
  background-color: white;
}
.content-text.w-300{
  padding-left: 10px;
}
.content-wrap.choose-us .content-title{
  padding: 0 10px;
  float: none;
  display: block;
  text-align: left;
  height: 30px;
}
.content-wrap.choose-us .content-text{
  padding: 0 10px;
}
.poster-text b{
  color: #f96511;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 15px;
  display: block;
}

.poster-text p{
  font-family: 'Arial';
  font-size: 16px;
}

.poster-text li{
  padding-top: 10px;
  padding-left: 45px;
  padding-bottom: 25px;
}
.cash-ic{
  background: url(../img/icon-8.png)no-repeat left top;
}
.time-ic{
  background: url(../img/icon-7.png)no-repeat left top;
}